 @charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@keyframes girar {
    to{
        transform: rotate(180deg);
    }
}


:root{    
    --cor1: #e0fbfc;
    --cor2: #c2dfe3;
    --cor3: #9db4c0;
    --cor4: #5c6b73;
    --cor5: #253237;
    --fonte-principal: 'Raleway', sans-serif;
    --fonte-geral:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-geral);
    box-sizing: border-box;
    transition: all .3s ease;
}

html{
    scroll-behavior: smooth;
}

header{
    z-index: 2;
    height:70px;
    padding: 20px 20px 0px 20px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: top;
    background-color: var(--cor4);
    color: var(--cor1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}



/*  Animação logo  */

.logo{
    position: relative;
    display: grid;
    justify-items: center;
    justify-self: left;
    align-items: center;
    height: fit-content;
    
}

.logo > svg{
    width: 40px;
    height: 40px;
   
}
.logo:hover > svg{
    opacity: 0;
    transform: rotate(90deg) scale(0);
}

.logo > svg > use{
    fill: none;
    stroke: white;
    stroke-width: 4px;
}

.logo-voltar{
    position: absolute;
    width: 50px;
    height: 30px;
    opacity: 0;
    transform: rotate(90deg) scale(0);
}
.logo:hover .logo-voltar{
    opacity: 1;
    transform: rotate(0deg) scale(1);
}
.logo-voltar-bar1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 4px;
    background-color: var(--cor1);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.logo-voltar-bar2{
    position: absolute;
    top: 50%;
    left: 3px;
    width: 23px;
    height: 4px;
    background-color: var(--cor1);
    border-radius: 10px;
    transform: translate(0%, -50%);
}
.logo-voltar-bar3{
    position: absolute;
    top: 50%;
    left: 3px;
    width: 23px;
    height: 4px;
    background-color: var(--cor1);
    border-radius: 10px;
    transform: translate(0%, -50%);
}

.logo:hover .logo-voltar-bar2{
    top: calc(50% + 6px);
    transform: translate(0%, -50%) rotate(35deg);
    transition: all .2s ease;
    transition-delay: .1s;
}
.logo:hover .logo-voltar-bar3{
    top: calc(50% - 6px);
    transform: translate(0%, -50%) rotate(-35deg);
    transition: all .2s ease;
    transition-delay: .1s;
}





/*  Animação menu  */

.menu-button{
    cursor: pointer;
    position: relative;
    justify-self: right;
    width: 38px;
    height: 40px;
}

.menu-bar1{
    position: absolute;
    top: 6px;
    width: 38px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--cor1);

}
.menu-bar2{
    position: absolute;
    top: 18px;
    width: 38px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--cor1);

}
.menu-bar3{
    position: absolute;
    top: 30px;
    width: 38px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--cor1);

}


.menu-options{
    position: absolute;
    top: 70px;
    left: 0px;
    width: 200px;
    height:fit-content;
   
    display: flex;
    flex-flow: column nowrap;
    transition: all .8s ease;
    transform: translate(-100%);
    padding: 10px;

}

.menu-options> a{
    color:var(--cor1);
    padding: 3px;
    margin-left:5px;
    font-size: 2em;
    font:600 normal 1.5em var(--fonte-geral);
    background:#5c6b73;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
}

.menu-options> a:hover{
     background-color:#253237 ;
}

.menu-options-other-screen{
    position: static;
    top: none;
    left: none;
    width: fit-content;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-self: right;
    transition: all .0s ease;
}




#return-header{
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 15px;
    width: 40px;
    height: 10px;
    background-color: var(--cor5);
    border: 1px solid var(--cor1);
    border-radius: 100px;
    transform: translate(-50%);
}




main{
    padding: 100px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

main > div{
    display: flex;
    flex-flow: column nowrap;
}

main > div > section{
    overflow: hidden;
    position: relative;
    margin: 10px 0px;
    width: 130px;
    height: 130px;
    background-color: var(--cor5);
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
}


#ar1{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(-130px);
}
#ar2{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(0px);
}

section:hover #ar1{
    transform: translateY(0px);
}
section:hover #ar2{
    transform: translateY(-130px);
}







footer{
    padding: 30px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "h h" "f r" "p p";
    justify-items: center;
    align-items: center;
    background-color: var(--cor5);
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.5);
}

footer > h1{
    margin: 30px 0px 13px 0px;
    grid-area: h;
    font: 600 normal 1.8em var(--fonte-principal);
    color: var(--cor1);
    text-align: center;
}

footer > nav{
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
}
.footer-nav-fernando{
    grid-area: f;
}
.footer-nav-rafael{
    grid-area: r;
}

footer > nav > h2{
    font: 300 normal 1.2em var(--fonte-principal);
    color: var(--cor1);
    text-align: center;
}

footer > nav > a{
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100%;
}

footer > nav > a::after{
    z-index: -1;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--cor3);
    opacity: 0;
    transform: scale(0);
    transition: all .3s ease;
}

footer > nav > a:hover::after{
    opacity: 1;
    transform: scale(1) rotate(100deg);
    transition: all .3s ease;
}

footer > nav > a > img{
    width: 50px;
    border: 2px solid transparent;
    border-radius: 100%;
}
footer > nav > a:active{
    background-color: var(--cor2);
    transition: all .1s ease;
}

footer > p{
    grid-area: p;
    font: 300 italic .8em var(--fonte-geral);
    color: var(--cor1);
    text-align: center;
}