 @charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@keyframes girar {
    to{
        transform: rotate(180deg);
    }
}


:root{    
    --cor1: #FFFFFF;
    --cor2: #EFCA08;
    --cor3: #00B295;
    --cor4: #383C56;
    --cor5: #05070F;
    --fonte-principal: 'Raleway', sans-serif;
    --fonte-geral:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-geral);
    box-sizing: border-box;
    transition: all .3s ease;
}

html{
    scroll-behavior: smooth;
}

header{
    z-index: 2;
    height: 70px;
    padding: 0px 20px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    background-color: var(--cor5);
    color: var(--cor1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}



/*  Animação logo  */

.logo{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: grid;
    justify-items: center;
    justify-self: left;
    align-items: center;
}

.logo > h1{
    font: 600 normal 1em var(--fonte-principal);
}
.logo:hover > h1{
    opacity: 0;
    transform: rotate(90deg) scale(0);
}

.logo-voltar{
    position: absolute;
    width: 50px;
    height: 30px;
    opacity: 0;
    transform: rotate(90deg) scale(0);
}
.logo:hover .logo-voltar{
    opacity: 1;
    transform: rotate(0deg) scale(1);
}
.logo-voltar-bar1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 4px;
    background-color: var(--cor1);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.logo-voltar-bar2{
    position: absolute;
    top: 50%;
    left: 3px;
    width: 23px;
    height: 4px;
    background-color: var(--cor1);
    border-radius: 10px;
    transform: translate(0%, -50%);
}
.logo-voltar-bar3{
    position: absolute;
    top: 50%;
    left: 3px;
    width: 23px;
    height: 4px;
    background-color: var(--cor1);
    border-radius: 10px;
    transform: translate(0%, -50%);
}

.logo:hover .logo-voltar-bar2{
    top: calc(50% + 6px);
    transform: translate(0%, -50%) rotate(35deg);
    transition: all .2s ease;
    transition-delay: .1s;
}
.logo:hover .logo-voltar-bar3{
    top: calc(50% - 6px);
    transform: translate(0%, -50%) rotate(-35deg);
    transition: all .2s ease;
    transition-delay: .1s;
}





/*  Animação menu  */

.menu-button{
    cursor: pointer;
    position: relative;
    justify-self: right;
    width: 38px;
    height: 40px;
}

.menu-bar1{
    position: absolute;
    top: 6px;
    width: 38px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--cor1);

}
.menu-bar2{
    position: absolute;
    top: 18px;
    width: 38px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--cor1);

}
.menu-bar3{
    position: absolute;
    top: 30px;
    width: 38px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--cor1);

}

.menu-options{
    position: absolute;
    top: 70px;
    left: 0px;
    width: 200px;
    height: 500px;
    background-color: rgba(100, 73, 100, 0.133);
    transition: all .8s ease;
    transform: translate(-100%);

}
.menu-options-other-screen{
    position: static;
    top: none;
    left: none;
    width: fit-content;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-self: right;
    transition: all .0s ease;
}

/*  Animação do iframe  */
main > section{
    position: relative;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
    overflow: hidden;
}

main > section > .fundo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
}
main > section > .fundo > iframe{
    width: 350px;
    height: 250px;
}
main > section > .fundo > a{
    padding: 10px;
    width: 100%;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}

main > section > .capa{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 145, 0);
    background-image: linear-gradient(110deg, rgb(255, 200, 0), rgb(255, 130, 0)30%, rgb(255, 30, 0)90%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}

main > section:hover > .capa{
    opacity: 0;
    transform: rotate(90deg) scale(0);
    transition: all .5s ease;
}

#texto-principal{
    border: 2px gray solid;
    background: #3D3D3D;
    float: both;
}



#return-header{
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 15px;
    width: 40px;
    height: 10px;
    background-color: var(--cor5);
    border: 1px solid var(--cor1);
    border-radius: 100px;
    transform: translate(-50%);
}



footer{
    padding: 30px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "h h" "f r" "p p";
    justify-items: center;
    align-items: center;
    background-color: var(--cor5);
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.5);
}

footer > h1{
    margin: 30px 0px 13px 0px;
    grid-area: h;
    font: 600 normal 1.8em var(--fonte-principal);
    color: var(--cor1);
    text-align: center;
}

footer > nav{
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
}
.footer-nav-fernando{
    grid-area: f;
}
.footer-nav-rafael{
    grid-area: r;
}

footer > nav > h2{
    font: 300 normal 1.2em var(--fonte-principal);
    color: var(--cor1);
    text-align: center;
}

footer > nav > a{
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100%;
}

footer > nav > a::after{
    z-index: -1;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--cor3);
    opacity: 0;
    transform: scale(0);
    transition: all .3s ease;
}

footer > nav > a:hover::after{
    opacity: 1;
    transform: scale(1) rotate(100deg);
    transition: all .3s ease;
}

footer > nav > a > img{
    width: 50px;
    border: 2px solid transparent;
    border-radius: 100%;
}
footer > nav > a:active{
    background-color: var(--cor2);
    transition: all .1s ease;
}

footer > p{
    grid-area: p;
    font: 300 italic .8em var(--fonte-geral);
    color: var(--cor1);
    text-align: center;
}